<p id="notice"><%= notice %></p>


<h1>Articles</h1>

<table>

  <tbody>
    <% @articles.each do |article| %>
      <tr class = "main_list">
        <td><a href= "articles/<%=article.id%>"<%=link_to article.title%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
