<p id="notice"><%= notice %></p>

<h1 class="welcome">Welcome to Henrietta's Guide</h1>
<p class = "welcome">A wiki written entirely by Henrietta's Inc. employees.</p>
<br></br>
<h2>Categories</h2>

<table>
  <tbody>
    <% @categories.each do |category| %>
      <tr class = "main_list">
        <td><a href= "categories/<%=category.id%>"<%=link_to category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
