<p id="notice"><%= notice %></p>


<h1>Authors</h1>

<table>
  <tbody>
    <% @employees.each do |employee| %>
      <tr class = "main_list">
        <td><a href= "employees/<%=employee.id%>"<%=link_to employee.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
